@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  margin: 0 auto;
  max-width: 1280px;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  width: 450px;
}

.footer {
  background-color: #353535;
  padding: 1rem 2rem;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__list {
  padding-left: 0;
  list-style: none;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__listtxt {
  margin: 0.5rem 0;
}
.footer__listtxt:first-child {
  margin-top: 0;
}
.footer__listtxt:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

main {
  display: block;
}
main .ville i {
  font-size: 1rem;
}

.formulaire {
  position: relative;
  counter-reset: numbers;
  text-align: start;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}
.formulaire ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 20px;
}
.formulaire li {
  list-style-type: none;
  background-color: #f6f6f6;
  border-color: lightgrey;
  transition: transform 0.3s;
  flex-grow: 1;
  text-align: center;
  border-radius: 19px;
  box-shadow: 2px 4px 8px -3px black;
}
.formulaire li::before {
  content: counter(numbers);
  counter-increment: numbers;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  margin-left: -35px;
  margin-top: 2px;
}
.formulaire li:hover {
  transform: scale(1.04);
}
.formulaire__icon {
  color: #7e7e7e;
}

.formulaire__list:hover i {
  color: #9356DC;
}

.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e5e5e5;
  text-align: center;
  padding: 1.2rem;
}
.ville__icon {
  margin-right: 1.5rem;
}
.ville__text {
  font-size: 1rem;
  background-color: #e5e5e5;
  font-weight: bold;
  border: none;
  width: 8rem;
  outline: none;
}

/* input choix de la ville */
::placeholder {
  color: black;
  opacity: 1;
  /* firefox */
}

.restaurant {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.formulaire__list {
  border: 1px solid grey;
  padding: 20px;
  margin: 10px;
}
.formulaire__title {
  padding-left: 4vw;
}

.formulaire .text {
  margin-left: 10px;
}

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
}

.header h1 {
  margin-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

@media (min-width: 901px) {
  .formulaire {
    background-color: #f6f6f6;
    text-align: center;
  }
  .formulaire ol {
    flex-direction: unset;
  }
  .formulaire__title {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1074px) {
  .section_restaurant__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    max-width: 450px;
    margin: 1rem;
    margin-bottom: 3rem;
  }
  .card__img {
    max-width: 100%;
  }

  .section_restaurants__title {
    text-align: center;
  }

  .footer {
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 1073px) {
  .section_restaurant__cards article {
    display: inherit;
  }
}
.restaurant__btn {
  color: white;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.8rem 1rem;
  border: 0px;
  box-shadow: 2px 4px 8px -3px black;
  transition: transform 0.3s;
}

.restaurant__btn:hover {
  transform: scale(1.04);
}

.restaurant p {
  padding-bottom: 10px;
}

.section_restaurants {
  padding: 0 5vw;
  background-color: #f6f6f6;
  align-items: center;
}
.section_restaurants__title {
  align-self: start;
  padding-top: 40px;
}

.card {
  height: fit-content;
  flex: 100%;
  margin: 3vw 0px 15px;
  background-color: white;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 20px 20px;
  height: fit-content;
  overflow: hidden;
  width: 90vw;
  padding: 0px;
}
.card__img {
  position: relative;
  width: 90vw;
}
.card__img img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.card__img__new {
  font-weight: bold;
  background-color: #99e2d0;
  color: #1a8a68;
  width: 80px;
  display: block;
  text-align: center;
  right: 1em;
  top: 1em;
  position: absolute;
  height: 33px;
  /* hauteur du parent */
  line-height: 0.3em;
  /* hauteur de ligne (identique) */
  white-space: nowrap;
  /* interdiction de passer à la ligne */
  border-radius: 5%;
}
.card__caption {
  display: flex;
  justify-content: space-between;
  height: 65px;
}
.card__caption__text {
  padding: 0 1rem;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}
.card__caption__text p {
  font-weight: lighter;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
}
.card__caption__text h4 {
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
}

.section_restaurant__cards {
  padding-bottom: 50px;
}

#pages_body .entree__prix,
#pages_body .plat__prix,
#pages_body .dessert__prix {
  margin: 0;
}
#pages_body main img {
  width: 100%;
  height: 40vh;
  /* mettre en responsiv et changer valeur pour plu grand format */
  object-fit: cover;
}

/* animation logo tcheck */
.fa-check-circle {
  transform: rotate(-359deg);
  transition: transform 0.7s;
}

/* animation logo tcheck */
.header__page {
  background-color: white;
  display: flex;
  justify-content: center;
}

.header__page h1 {
  margin-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

/* visuel titres */
.h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  margin: 20px 0 0 10px;
}
.h4__infos {
  font-weight: 100;
}

.underline-title {
  background-color: #99e2d0;
  height: 0.3em;
  width: 40px;
  margin: 0 1rem;
}

h3 {
  text-transform: uppercase;
  margin: 0 1rem 0.5rem;
}

article {
  height: 70%;
}

/* main page menu */
main {
  background-color: #f6f6f6;
}

.menu__titre {
  display: flex;
  justify-content: space-between;
  padding: 5px 5vw;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translateY(-70px);
  background-color: #f6f6f6;
  font-family: "shrikhand", "Sans-serif";
  margin-bottom: -60px;
}

.menu__main {
  padding: 0px 10px;
}
.menu__main h2 {
  font-family: "Shrikhand", "Roboto", "Sans-serif";
}

.menu__page {
  background-color: #f6f6f6;
}

/* entrées */
.entree1,
.entree2,
.entree3,
.entree4 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 2px lightgrey;
  margin-top: 20px;
  height: 4.5rem;
}

.menu__entree {
  position: relative;
  margin: 0px 15px 30px 15px;
}

/* inspecter voir quoi changer */
.entree {
  border-radius: 20px;
  background-color: white;
  margin: 1rem;
  box-shadow: 2px 2px 2px lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entree__prix {
  font-weight: bold;
  padding: 38px 15px 0 15px;
}

.menu__entree__title {
  font-weight: 300;
}

/* cartes check ENTREE */
.entree:hover > .entree__check {
  flex: 10%;
  transform: translateX(0px);
  background-color: #99e2d0;
  cursor: pointer;
  color: #f6f6f6;
}

.entree:hover > .entree__check {
  flex: 5%;
}

.entree__check {
  overflow: hidden;
  text-align: center;
  background: #99E2D0;
  width: 0;
  align-items: center;
  transition: 0.5s;
  padding-top: 25px;
}

.entree1:hover .entree__check {
  width: 70px;
}

.entree2:hover .entree__check {
  width: 70px;
}

.entree3:hover .entree__check {
  width: 70px;
}

.entree4:hover .entree__check {
  width: 70px;
}

.valid {
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 25px;
}

.entree1:hover .entree__check > .valid,
.entree2:hover .entree__check > .valid,
.entree3:hover .entree__check > .valid,
.entree4:hover .entree__check > .valid {
  transform: rotate(0deg);
}

/* plat */
.plat1,
.plat2,
.plat3 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 2px lightgrey;
  margin-top: 20px;
  height: 4.5rem;
}

.menu__plat {
  position: relative;
  margin: 0px 15px 30px 15px;
}

.plat {
  border-radius: 20px;
  background-color: white;
  margin: 1rem;
  box-shadow: 2px 2px 2px lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__prix {
  font-weight: bold;
  padding: 38px 15px 0 15px;
}

.plat1:hover .plat__check > .valid,
.plat2:hover .plat__check > .valid,
.plat3:hover .plat__check > .valid {
  transform: rotate(0deg);
}

.menu__plat__title {
  font-weight: 300;
}

/* cartes check PLAT */
.plat:hover > .plat__check {
  flex: 10%;
  transform: translateX(0px);
  background-color: #99e2d0;
  cursor: pointer;
  color: #f6f6f6;
}

.plat:hover > .plat__check {
  flex: 5%;
}

.plat__check {
  overflow: hidden;
  text-align: center;
  background: #99E2D0;
  width: 0;
  align-items: center;
  transition: 0.5s;
  padding-top: 25px;
}

.plat1:hover .plat__check {
  width: 70px;
}

.plat2:hover .plat__check {
  width: 70px;
}

.plat3:hover .plat__check {
  width: 70px;
}

.valid {
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 25px;
}

/* dessert */
.dessert1,
.dessert2,
.dessert3 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 2px lightgrey;
  margin-top: 20px;
  height: 4.5rem;
}

.menu__dessert {
  position: relative;
  margin: 0px 15px 0px 15px;
}

.dessert {
  border-radius: 20px;
  background-color: white;
  margin: 1rem;
  box-shadow: 2px 2px 2px lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dessert__prix {
  font-weight: bold;
  padding: 38px 15px 0 15px;
}

.dessert1:hover .dessert__check > .valid,
.dessert2:hover .dessert__check > .valid,
.dessert3:hover .dessert__check > .valid {
  transform: rotate(0deg);
}

.menu__dessert__title {
  font-weight: 300;
}

/* cartes check DESSERT */
.dessert:hover > .dessert__check {
  flex: 10%;
  transform: translateX(0px);
  background-color: #99e2d0;
  cursor: pointer;
  color: #f6f6f6;
}

.dessert:hover > .dessert__check {
  flex: 5%;
}

.dessert__check {
  overflow: hidden;
  text-align: center;
  background: #99E2D0;
  width: 0;
  align-items: center;
  transition: 0.5s;
  padding-top: 25px;
}

.dessert1:hover .dessert__check {
  width: 70px;
}

.dessert2:hover .dessert__check {
  width: 70px;
}

.dessert3:hover .dessert__check {
  width: 70px;
}

.valid {
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 25px;
}

/* bouton commander */
.btn__commander {
  color: white;
  padding: 1rem 3rem;
  text-align: center;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 3rem auto;
  border-radius: 30px;
  border: unset;
  cursor: pointer;
  box-shadow: 2px 4px 8px -3px black;
  transition: transform 0.3s;
}

.btn__commander:hover {
  transform: scale(1.04);
}

.btn {
  display: flex;
}

/* coeur page */
.fa-stack {
  font-size: 1.3rem;
  position: relative;
  width: 2.5em;
}

.fa-stack :nth-child(2) {
  color: transparent;
  padding: 0px;
}

.fa-stack :nth-child(2):hover {
  background: linear-gradient(162deg, #9356DC, #FF79DA);
  font-size: large;
  transform: scale(1.25);
  background-clip: text;
  -webkit-background-clip: text;
}

/* arrow back */
.backLink {
  position: relative;
  right: 45px;
  font-size: x-large;
  bottom: 5px;
}

/* animations pages */
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.delay {
  animation: slideup 1s forwards;
  opacity: 0;
}
.delay:nth-child(1) {
  animation-delay: calc(1s / 5);
}
.delay:nth-child(2) {
  animation-delay: calc(2s / 5);
}
.delay:nth-child(3) {
  animation-delay: calc(3s / 5);
}
.delay:nth-child(4) {
  animation-delay: calc(4s / 5);
}
.delay:nth-child(5) {
  animation-delay: calc(5s / 5);
}

@keyframes slideup {
  from {
    transform: translatey(20px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
/* media queries */
@media (max-width: 450px) {
  body {
    width: 100%;
    background-color: #f6f6f6;
  }
}
@media (min-width: 872px) {
  .menu__entree,
.menu__plat,
.menu__dessert {
    flex-direction: column;
    align-items: center;
    padding: 5px 5vw;
    margin: 0px 15px 30px 60px;
  }

  .menu .menu__titre {
    display: flex;
    justify-content: center;
  }

  .entree1,
.entree2,
.entree3,
.entree4 {
    width: 95%;
  }

  .plat1,
.plat2,
.plat3 {
    width: 95%;
  }

  .dessert1,
.dessert2,
.dessert3 {
    width: 95%;
  }

  .footer {
    text-align: center;
  }

  #pages_body main img {
    height: 60vh;
  }
}
#loader {
  position: fixed;
  background-color: #f3f3f3;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: desappear 0.01s;
  /* délais de disparition */
  animation-delay: 3s;
  animation-fill-mode: forwards;
  /* une fois animation terminée disparait */
  transform-origin: top;
}

.accueil h1 {
  font-size: 120px;
  margin-bottom: 450px;
}

/* loader */
.chargement {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.lettre {
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 150px;
  animation: defile 1.5s linear infinite;
}

@keyframes desappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes defile {
  0% {
    color: #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  95% {
    color: #FF79DA;
    text-shadow: none;
  }
  100% {
    transform: scale(0);
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
}
