@import "./utils/mixins";
@import "./utils/variables";

main {
    display: block;
    .ville i {
        font-size: 1rem;
    }
}
.formulaire {
    position: relative;
    counter-reset: numbers;
    text-align: start;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    & ol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 20px; 
    }
    & li {
        &::before {
            content: counter(numbers);
            counter-increment: numbers;
            background-color: $color-primary;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            margin-left: -35px;
            margin-top: 2px;
            &__icon {
                color: #9356DC;
            }
        }
        list-style-type: none;
        background-color: #f6f6f6;
        border-color: lightgrey;
        transition: transform 0.3s;
        flex-grow: 1;
        text-align: center;
        border-radius: 19px;
        @include base-shadow;
        &:hover {
            @include zoom;
        }
    }
    &__icon {
        color: #7e7e7e;
    }
}
.formulaire__list:hover i{
    color: #9356DC;
}

.ville {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 1.2rem;  

    &__icon {
        margin-right: 1.5rem;
    }

    &__text {
        font-size: 1rem;
        background-color: #f3f3f3;
        font-weight: bold;
        border: none;
        width: 8rem;
        outline: none;
    }
}

/* input choix de la ville */
::placeholder {
    color: black;
    opacity: 1; /* firefox */
}

.restaurant {
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.formulaire {
    &__list {
    border: 1px solid grey;
    padding: 20px;
    
    margin: 10px;
    }
    &__title {
        padding-left: 4vw;
    }
}

.formulaire .text {
    margin-left: 10px;
}