@media (max-width: 900px) {
  .formulaire ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 901px) {
  .formulaire {
    text-align: center;
  }
}