#pages_body {

    .entree__prix,
    .plat__prix,
    .dessert__prix {
        margin: 0;
    }

    main img {
        width: 100%;
        height: 40vh;
        /* mettre en responsiv et changer valeur pour plu grand format */
        object-fit: cover;
    }
}


/* animation logo tcheck */

.fa-check-circle {
    transform: rotate(-359deg);
    transition: transform 0.7s;
}

/* animation logo tcheck */

.header__page {
    background-color: white;
    display: flex;
    justify-content: center;
}

.header__page h1 {
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

/* visuel titres */

.h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    margin: 20px 0 0 10px;

    &__infos {
        font-weight:100;

    }
}

.underline-title {
    background-color: $color-underline;
    height: 0.3em;
    width: 40px;
    margin: 0 1rem;
}

h3 {
    text-transform: uppercase;
    margin: 0 1rem 0.5rem;
}

article {
    height: 70%;
}

/* main page menu */

main {
    background-color: $color-background;
}

.menu__titre {
    display: flex;
    justify-content: space-between;
    padding: 5px 5vw;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translateY(-70px);
    background-color: $color-background;
    font-family: "shrikhand", "Sans-serif";
    margin-bottom: -60px;
}

.menu__main {
    padding: 0px 10px;

    h2 {
        font-family: "Shrikhand", "Roboto", "Sans-serif";
    }
}

.menu__page {
    background-color: #f6f6f6;
}

/* entrées */

.entree1,
.entree2,
.entree3,
.entree4 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
    @include page-shadow;
    margin-top: 20px;
    height: 4.5rem;
}

.menu__entree {
    position: relative;
    margin: 0px 15px 30px 15px;
}

/* inspecter voir quoi changer */
.entree {
    border-radius: 20px;
    background-color: white;
    margin: 1rem;
    @include page-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    &__prix {
        font-weight: bold;
        padding: 38px 15px 0 15px;
    }
}

.menu__entree__title {
    font-weight: 300
}

/* cartes check ENTREE */

.entree:hover>.entree__check {
    flex: 10%;
    transform: translateX(0px);
    background-color: #99e2d0;
    cursor: pointer;
    color: #f6f6f6;
}



.entree:hover>.entree__check {
    flex: 5%;
}

.entree {
    &__check {
        overflow: hidden;
        text-align: center;
        background: $color-third;
        width: 0;
        align-items: center;
        transition: 0.5s;
        padding-top: 25px;
    }
}

.entree1:hover .entree__check {
    width: 70px;
}

.entree2:hover .entree__check {
    width: 70px;
}

.entree3:hover .entree__check {
    width: 70px;
}

.entree4:hover .entree__check {
    width: 70px;
}

.valid {
    display: inline-block;
    margin: auto;
    color: #fff;
    font-size: 25px;
}

.entree1:hover,
.entree2:hover,
.entree3:hover {
    .entree__check>.valid {
        transform: rotate(0deg);
    }
}

/* plat */

.plat1,
.plat2,
.plat3 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
    @include page-shadow;
    margin-top: 20px;
    height: 4.5rem;
}

.menu__plat {
    position: relative;
    margin: 0px 15px 30px 15px;
}

.plat {
    border-radius: 20px;
    background-color: white;
    margin: 1rem;
    @include page-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    &__prix {
        font-weight: bold;
        padding: 38px 15px 0 15px;
    }
}

.plat1:hover,
.plat2:hover,
.plat3:hover {
    .plat__check>.valid {
        transform: rotate(0deg);
    }
}

.menu__plat__title {
    font-weight: 300
}

/* cartes check PLAT */

.plat:hover>.plat__check {
    flex: 10%;
    transform: translateX(0px);
    background-color: #99e2d0;
    cursor: pointer;
    color: #f6f6f6;
}

.plat:hover>.plat__check {
    flex: 5%;
}

.plat {
    &__check {
        overflow: hidden;
        text-align: center;
        background: $color-third;
        width: 0;
        align-items: center;
        transition: 0.5s;
        padding-top: 25px;
    }
}

.plat1:hover .plat__check {
    width: 70px;
}

.plat2:hover .plat__check {
    width: 70px;
}

.plat3:hover .plat__check {
    width: 70px;
}

.valid {
    display: inline-block;
    margin: auto;
    color: #fff;
    font-size: 25px;
}


/* dessert */

.dessert1,
.dessert2,
.dessert3 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
    @include page-shadow;
    margin-top: 20px;
    height: 4.5rem;
}

.menu__dessert {
    position: relative;
    margin: 0px 15px 0px 15px;
}

.dessert {
    border-radius: 20px;
    background-color: white;
    margin: 1rem;
    @include page-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    &__prix {
        font-weight: bold;
        padding: 38px 15px 0 15px;
    }
}

.dessert1:hover,
.dessert2:hover,
.dessert3:hover {
    .dessert__check>.valid {
        transform: rotate(0deg);
    }
}


.menu__dessert__title {
    font-weight: 300
}

/* cartes check DESSERT */

.dessert:hover>.dessert__check {
    flex: 10%;
    transform: translateX(0px);
    background-color: #99e2d0;
    cursor: pointer;
    color: #f6f6f6;
}

.dessert:hover>.dessert__check {
    flex: 5%;
}

.dessert {
    &__check {
        overflow: hidden;
        text-align: center;
        background: $color-third;
        width: 0;
        align-items: center;
        transition: 0.5s;
        padding-top: 25px;
    }
}

.dessert1:hover .dessert__check {
    width: 70px;
}

.dessert2:hover .dessert__check {
    width: 70px;
}

.dessert3:hover .dessert__check {
    width: 70px;
}

.valid {
    display: inline-block;
    margin: auto;
    color: #fff;
    font-size: 25px;
}


/* bouton commander */

.btn__commander {
    color: white;
    padding: 1rem 3rem;
    text-align: center;
    background: linear-gradient($color-secondary, $color-primary);
    margin: 3rem auto;
    border-radius: 30px;
    border: unset;
    cursor: pointer;
    @include base-shadow;
    transition: transform 0.3s;
}

.btn__commander:hover {
    transform: scale(1.04);
}

.btn {
    display: flex;
}

/* coeur page */

.fa-stack {
    font-size: 1.3rem;
    position: relative;
    width: 2.5em;
}

.fa-stack :nth-child(2) {
    color: transparent;
    padding: 0px;
}

.fa-stack :nth-child(2):hover {
    @include heart-hover
}


/* arrow back */

.backLink {
    position: relative;
    right: 45px;
    font-size: x-large;
    bottom: 5px;
}


/* animations pages */

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.delay {
    animation: slideup 1s forwards;
    opacity: 0;

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation-delay: calc(#{$i}s / 5);
        }
}
}

@keyframes slideup {
    from {
      transform: translatey(20px);
      opacity: 0%;
    }
    to {
      transform: translatey(0px);
      opacity: 100%;
    }
  }

/* media queries */

@media (max-width: 450px) {
    body {
        width: 100%;
        background-color: #f6f6f6;
    }
}

@media (min-width:872px) {

    .menu__entree,
    .menu__plat,
    .menu__dessert {
        flex-direction: column;
        align-items: center;
        padding: 5px 5vw;
        margin: 0px 15px 30px 60px;
    }

    .menu {
        .menu__titre {
            display: flex;
            justify-content: center;
        }
    }

    .entree1,
    .entree2,
    .entree3,
    .entree4 {
        width: 95%;
    }

    .plat1,
    .plat2,
    .plat3 {
        width: 95%;
    }

    .dessert1,
    .dessert2,
    .dessert3 {
        width: 95%;
    }

    .footer {
        text-align: center;
    }
    #pages_body main img {
        height: 60vh;
    }
}