@import "./sass/base.scss";
@import "./sass/layout/header.scss";
@import "./sass/main.scss";
@import "./sass/utils/variables";
@import "./sass/responsive.scss";
@import "./sass/utils/btn.scss";
@import "./sass/utils/mixins.scss";

ul {
    list-style-type: none;
}

img {
    height: 115px;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: darkgray;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}