@import "./sass/base.scss";
@import "./sass/layout/header.scss";
@import "./sass/main.scss";
@import "./sass/utils/variables";
ul {
    list-style-type: none;
}
main .ville i {
    font-size: 1.5rem;
}
main {
    text-align: center;
}

img {
    height: 115px;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: darkgray;
    color: white;
    padding-left: 20px;
    font-family: 'Shrikhand', cursive;
    padding-bottom: 20px;
    padding-top: 10px;
}
footer span {
    font-family: "Roboto";
}