@mixin base-shadow {
    box-shadow: 2px 4px 8px -3px black;
}

@mixin zoom {
    transform: scale(1.02);
}

@mixin page-shadow {
    box-shadow: 2px 2px 2px lightgrey;
}

@mixin heart-hover {
    background: linear-gradient(162deg, $color-primary, $color-secondary );
    font-size: large;
    transform: scale(1.25);
    background-clip: text;
    -webkit-background-clip: text;
}