@import "./mixins";
.restaurant__btn {
    color: white;
    background-image: linear-gradient(to top, $color-primary, $color-secondary);
    font-weight: 600;
    border-radius: 2rem;
    padding: 0.8rem 1rem;
    border: 0px;
    @include base-shadow;
    transition: transform 0.3s;
}

.restaurant__btn:hover {
    transform: scale(1.04);
}

.restaurant p {
    padding-bottom: 10px;
}